In [10]:
import pandas as pd
from ydata_profiling import ProfileReport

In [11]:
df = pd.read_csv('./data/gurgaon_properties_cleaned_v2.csv').drop_duplicates()
df.head(2)

,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,...,super_built_up_area,built_up_area,carpet_area,study room,servant room,store room,pooja room,others,furnishing_type,luxury_score
0,flat,signature global park 4,sector 36,0.82,7585.0,1081.0,Super Built up area 1081(100.43 sq.m.)Carpet a...,3,2,2,...,1081.0,NaN,650.0,0,0,0,0,0,0,8
1,flat,smart world gems,sector 89,0.95,8600.0,1105.0,Carpet area: 1103 (102.47 sq.m.),2,2,2,...,NaN,NaN,1103.0,1,1,0,0,0,0,38

In [12]:
profile = ProfileReport(df, title='Gurgaon Properties Pandas Profile Reporting', explorative=True)
profile.to_file("output_report.html")

Summarize dataset: 100%|██████████| 133/133 [00:18<00:00,  7.02it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:09<00:00,  9.45s/it]
Render HTML: 100%|██████████| 1/1 [00:04<00:00,  4.41s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 55.46it/s]