In [20]:
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [21]:
flats = pd.read_csv('Datasets/flats.csv')
# house = pd.read_csv('Datasets/independent-house.csv')
# properties = pd.read_csv('Datasets/gurgaon_properties.csv')

In [23]:
print(flats.shape)

(3008, 20)

In [24]:
flats.sample(5)

,property_name,link,society,price,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id
1078,3 BHK Flat in Nirvana Country,https://www.99acres.com/3-bhk-bedroom-apartmen...,Unitech Fresco3.8 ★,1.88 Crore,"₹ 10,479/sq.ft.",Super Built up area 1794(166.67 sq.m.)Built Up...,3 Bedrooms,3 Bathrooms,3+ Balconies,Others,"1402, Nirvana Country, Gurgaon, Haryana",14th of 19 Floors,North,5 to 10 Year Old,"['Rapid Metro Station Sector 55 56', 'M3M Cosm...","Situated in nirvana country, gurgaon, unitech ...","['7 Fan', '1 Exhaust Fan', '4 Geyser', '12 Lig...","['Centrally Air Conditioned', 'Water purifier'...","['Green Area5 out of 5', 'Construction3 out of...",S69864700
2911,2 BHK Flat in Sohna,https://www.99acres.com/2-bhk-bedroom-apartmen...,Tulsiani Easy in Homes,40 Lac,"₹ 7,920/sq.ft.",Carpet area: 505 (46.92 sq.m.),2 Bedrooms,2 Bathrooms,3 Balconies,NaN,"Sohna, Gurgaon, Haryana",9th of 14 Floors,NaN,Under Construction,"['Huda City Metro', 'Golf Course extn road', '...",Main road property and connected with delhi mu...,NaN,"['Feng Shui / Vaastu Compliant', 'Intercom Fac...","['Safety4 out of 5', 'Lifestyle4 out of 5', 'E...",S63469070
671,3 BHK Flat in Sector 71 Gurgaon,https://www.99acres.com/3-bhk-bedroom-apartmen...,CHD Avenue 713.6 ★,1.12 Crore,"₹ 6,215/sq.ft.",Super Built up area 1802(167.41 sq.m.),3 Bedrooms,4 Bathrooms,3 Balconies,Servant Room,"Sector 71 Gurgaon, Gurgaon, Haryana",Ground of 14 Floors,South-East,5 to 10 Year Old,"['Huda City Centre', 'Apna Mart', 'Rajiv Chowk...",Chd avenue 71 sector 71gurgaon.\n Additional d...,[],"['Feng Shui / Vaastu Compliant', 'Intercom Fac...","['Green Area5 out of 5', 'Construction3 out of...",W69434422
2723,2 BHK Flat in Sector 47 Gurgaon,https://www.99acres.com/2-bhk-bedroom-apartmen...,Unitech Uniworld Gardens 23.4 ★,1.05 Crore,"₹ 10,531/sq.ft.",Carpet area: 997 (92.62 sq.m.),2 Bedrooms,2 Bathrooms,2 Balconies,NaN,"B3-304, Sector 47 Gurgaon, Gurgaon, Haryana",3rd of 14 Floors,North-East,1 to 5 Year Old,"['Standard chartered ATM', 'Icici bank ATM', '...",Walking distance from sohna road subhash chowk,"['2 Wardrobe', '5 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Management3 out of 5', 'Green Area4 out of 5...",N68074094
2770,3 BHK Flat in Sector 90 Gurgaon,https://www.99acres.com/3-bhk-bedroom-apartmen...,Shree Vardhman Flora3.8 ★,95 Lac,"₹ 6,333/sq.ft.",Carpet area: 1500 (139.35 sq.m.),3 Bedrooms,3 Bathrooms,3 Balconies,Servant Room,"B3/901, Sector 90 Gurgaon, Gurgaon, Haryana",9th of 13 Floors,South-East,1 to 5 Year Old,"['IRIS Broadway Mall', 'Dwarka Expressway', 'S...","Newly built, good construction,",NaN,"['Security / Fire Alarm', 'Power Back-up', 'In...","['Management4 out of 5', 'Green Area5 out of 5...",M67782914

In [25]:
flats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3008 entries, 0 to 3007
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    3008 non-null   object
 1   link             3008 non-null   object
 2   society          3007 non-null   object
 3   price            3007 non-null   object
 4   area             2996 non-null   object
 5   areaWithType     3008 non-null   object
 6   bedRoom          3008 non-null   object
 7   bathroom         3008 non-null   object
 8   balcony          3008 non-null   object
 9   additionalRoom   1694 non-null   object
 10  address          3002 non-null   object
 11  floorNum         3006 non-null   object
 12  facing           2127 non-null   object
 13  agePossession    3007 non-null   object
 14  nearbyLocations  2913 non-null   object
 15  description      3008 non-null   object
 16  furnishDetails   2203 non-null   object
 17  features         2594 non-null   object
 18  rating           2676 non-null   object
 19  property_id      3008 non-null   object
dtypes: object(20)
memory usage: 470.1+ KB